@import url('./variable.css');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
   overflow: hidden;
}

.auth-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Left / Right Sections */
.left-section,
.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 40px;
  min-width: 300px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
  border-radius: 0;
  min-height: 0;
  overflow-y: auto;
}

.white-bg {
  background: #fff;
  color: linear-gradient(135deg, #104c44, #1c6f63);
}
.green-bg {
  background-image: var(--my-gradient);
  color: #fff;
}

.left-section::-webkit-scrollbar,
.right-section::-webkit-scrollbar {
  width: 0;
  background: transparent; /* hide scrollbar */
}
/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}
.logo-icon {
  width: 24px;
  height: 24px;
  background-color: #003b3f;
  border-radius: 50%;
}
.logo h1 {
  font-size: 20px;
  font-weight: bold;
}

/* Welcome / Titles */
.welcome-text {
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}

/* Form */
.login-form {
  width: 100%;
  max-width: 350px;
}



/* Divider */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #aaa;
  font-size: 14px;
  margin-bottom: 15px;
}
.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}
.divider span {
  margin: 0 8px;
}

/* Social Buttons */
.social-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.social-btn {
  border: 1px solid #ddd;
  background: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.social-btn:hover {
  background: #f5f5f5;
}

/* Footer & SignUp Text */
.signup-text {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}
.signup-text a {
  color: linear-gradient(135deg, #104c44, #1c6f63);
  font-weight: bold;
  text-decoration: none;
}
.signup-text a:hover {
  text-decoration: underline;
}

/* Right Section Analytics */

.insights-text {
  max-width: 300px;
  text-align: center;
}
.insights-text p {
  font-size: 14px;
  color: #ddd;
}

/* Responsive */
@media (max-width: 900px) {
  .auth-container {
    flex-direction: column;
    height: auto;
  }
  .left-section,
  .right-section {
    width: 100%;
    padding: 20px;
    border-radius: 0;
  }
  .right-section {
    order: -1;
  }
  .circle-card {
    position: static;
    margin: 20px auto;
  }
  .analytics-card,
  .circle-card {
    width: 100%;
    max-width: 300px;
  }
  .chart-placeholder {
    width: 100%;
    height: 80px;
  }
}


.right-section.green-bg {
  
  position: relative;
  padding: 40px;
  overflow: hidden;
  box-shadow: -12px 0 32px -4px rgba(0, 0, 0, 0.35);
}


.left-section.green-bg {
 
  position: relative;
  padding: 40px;
  overflow: hidden;
  box-shadow: -12px 0 32px -4px rgba(0, 0, 0, 0.35);
}



